<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="login">
            <h1>Faça Login</h1>
            <div class="grupo-campos">
                <input type="text" id="email">
                <input type="password" id="password">
                <button id="acessar">Acessar</button>
            </div>
        </div>
        <div class="cadastro">
            <h1>Faça seu cadastro</h1>
            <div class="grupo-campos">
                <input type="text" id="nome" placeholder="Nome">
                <input type="date" id="data_nascimento" placeholder="Data Nascimento">
                <input type="text" id="emailc" placeholder="E-mail">
                <input type="password" id="passwordc" placeholder="Senha">
                <input type="password" id="password_confirmation" placeholder="Confirma Senha">
                <button id="Cadastrar">Cadastrar</button>
            </div>
        </div>
    </main>
</body>
</html>