<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>usuario</title>
</head>
<body>
    <main>
        <div class="login">
            <h1>Faça Login</h1>
            <div class="grupo-campos">
                <input type="text" id="user">
                <input type="password" id="password">
                <button id="acessar">Acessar</button>
            </div>
        </div>
    </main>
</body>
</html>