<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>usuario</title>
    <link href="https://cdn.datatables.net/v/dt/dt-2.1.8/datatables.min.css" rel="stylesheet">
    
</head>

<body>
    <main>
        <form class="login">
            <h1>Faça Login</h1>
            <div class="grupo-campos">
                <input type="text" id="user">
                <input type="password" id="password">
                <button id="acessar">Acessar</button>
            </div>
        </form>
    </main>
</body>
</html>