<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque</title>
    <link href="https://cdn.datatables.net/v/dt/dt-2.1.8/datatables.min.css" rel="stylesheet">
</head>

<body>
    <nav class="menu">
        <h1 id="menu-index">Dashboard</h1>
        <h1 id="menu-inspecao">Inspeção</h1>
        <h1 id="menu-producao">Producao</h1>
        <h1 id="menu-estoque">Estoque</h1>
        <h1 id="menu-funcionarios"> Funcionários</h1>
    </nav>

    <main>
        <form>
            <h2>Cadastrado de Produto</h2>
            <div class="input">
                <label for="nome">Nome</label>
                <input type="text" id="nome">
            </div>

            <div class="input">
                <label for="quantidade">Quantidade</label>
                <input type="text" id="quantidade">
            </div>

            <div class="input">
                <label for="fabricante">Fabricante</label>
                <input type="text" id="fabricante">
            </div>

            <div class="select">
                <label for="tipo">Tipo</label>
                <select id="tipo">
                    <option>Motor</option>
                    <option>Carcaca</option>
                    <option>Pneu</option>
                </select>
            </div>

            <button id="cadastrar">Cadastrar</button>
        </form>

        <aside>
            <h2>Lista de Produtos</h2>
            <div class="lista" id="lista"></div>
        </aside>
    </main>
</body>

</html>