* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../../assets/logo_01.png);
    background-color: #333333;
}


nav.menu {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin-left: 150px;
    padding: 5px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    justify-content: space-evenly;
}

nav h1 {
    padding: 5px;
    padding: 2px;
    border-radius: 16px;
    cursor: pointer;
}

header {
    background-color: #ffffff;
    margin: 30px auto 10px;
    width: 80vw;
    padding: 20px;
    border-radius: 16px;
}

header h1 {
    font-size: 24px;
    font-weight: 700;
    font-family: cursive;
    text-align: center;
}

main {
    height: 500px;
    width: 80vw;
    margin: 20px auto 0;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    gap: 16px;
    border-radius: 15px;
    margin: 90px auto;
}

form {
    background-color: #ffffff;
    width: 500px;
    height: fit-content;
    border-radius: 16px;
    padding: 16px;
}

form h2 {
    font-size: 25px;
    font-weight: bold;
    font-family: cursive;
    text-align: center;
    margin-bottom: 15px;
}

form .input {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    margin-bottom: 20px;
}

form .select {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    margin-bottom: 20px;
}

form .input label {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

form .input input {
    height: 48px;
    font-size: 14px;
    color: #666666;
    border-radius: 8px;
    outline: none;
    border: 2px solid #999999;
    background-color: #f0f0f0;
    padding: 0 10px;
}

form .select label {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

form .select select {
    height: 48px;
    font-size: 14px;
    color: #666666;
    border-radius: 8px;
    outline: none;
    border: 2px solid #999999;
    background-color: #f0f0f0;
    padding: 0 10px;
}

form button {
    width: 100%;
    background-color: #999;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 16px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 16px;
}

form button:hover {
    background-color: darkturquoise;
}

aside {
    width: 100%;
    height: 530px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 16px;
}

aside h2 {
    font-size: 24px;
    font-weight: 700;
    font-family: cursive;
    text-align: center;
}

aside .lista{
   margin: auto, 16px;
   border-radius: 16px;
   margin-left: 16px;
   margin-right: 16px;
}

@media (min-width: 520px) {
    aside .lista{
        overflow: auto;
        max-height: 500px;
        padding: 16px;
    }
}

