<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inspeção</title>
    <link href="https://cdn.datatables.net/v/dt/dt-2.1.8/datatables.min.css" rel="stylesheet">
</head>

<body>
    <nav class="menu">
        <h1 id="menu-index">index</h1>
        <h1 id="menu-cadastro">Cadastro</h1>
        <h1 id="menu-inspecao">Inspeção</h1>
        <h1 id="menu-producao">Producao</h1>
        <h1 id="menu-estoque">Estoque</h1>
        <h1 id="menu-funcionarios"> Funcionários</h1>
    </nav>
    <header>
        <h1>Sistema de Inspeção Operacional</h1>
    </header>
    <main>
        <form>
            <h2>Cadastra inspetor</h2>

            <div class="input">
                <label for="nome">Nome</label>
                <input type="text" id="nome" required>
            </div>
            <div class="input">
                <label for="email">Email</label>
                <input type="text" id="email" required>
            </div>
            <div class="input">
                <label for="telefone">Telefone</label>
                <input type="text" id="telefone" required>
            </div>
            <button id="cadastrar">Cadastrar</button>
        </form>
    </main>
</body>

</html>