* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav.menu {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin-left: 150px;
    padding: 5px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  
  nav h1 {
    padding: 5px;
    margin-left: 110px;
    padding: 2px;
    border-radius: 16px;
    cursor: pointer;
  }