* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../../assets/logo_01.png);
    background-color: #333333;
}

body div {
    display: flex;
    flex-direction: column;
}

nav.menu {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin-left: 150px;
    padding: 5px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    justify-content: space-evenly;
}

nav h1 {
    padding: 5px;
    padding: 2px;
    border-radius: 16px;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
}

.producao {
    background-color: aliceblue;
    border-radius: 16px;
    padding: 20px;
}

.motor {
    background-color: aliceblue;
    border-radius: 16px;
    padding: 20px;
}

.pneu {
    background-color: aliceblue;
    border-radius: 16px;
    padding: 20px;
}

.chassi {
    background-color: aliceblue;
    border-radius: 16px;
    padding: 20px;
}