<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producao</title>
    <link href="https://cdn.datatables.net/v/dt/dt-2.1.8/datatables.min.css" rel="stylesheet">
</head>

<body>
    <nav class="menu">
        <h1 id="menu-index">index</h1>
        <h1 id="menu-cadastro">Cadastro</h1>
        <h1 id="menu-producao">Producao</h1>
        <h1 id="menu-estoque">Estoque</h1>
    </nav>

    <header>
        <h1>sistema de cadastrado operacional</h1>
    </header>

    <main>
        <form>
            <h2>Cadastro de produtividade</h2>

            
                <div class="input">
                    <label for="renavam">Renavam</label>
                    <input type="text" id="renavam" required>
                </div>

                <div class="input">
                    <label for="modelo">Modelo</label>
                    <input type="text" id="modelo" required>
                </div>

                <div class="select">
                    <label for="motor">Motor</label>
                    <select id="motor">
                    </select>
                </div>

                <div class="select">
                    <label for="kitpneu">Kit Pneu</label>
                    <select id="kitpneu">
                    </select>
                </div>

                <div class="select">
                    <label for="carcaca">Carcaça</label>
                    <select id="carcaca">
                    </select>
                </div>

                <button id="cadastrar">Cadastrar</button>
            

        </form>

        <aside>
            <h2>Produto Cadastrado</h2>
            <div class="lista" id="lista"></div>
        </aside>
    </main>
</body>

</html>