* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: ivory;
  }

main {
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    gap: 16px;
    padding: 40px;
    width: 80%;
    margin: 125px auto;
    background-color: cadetblue;
}
main h1 {
   color: black;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.grupo-campos {
    display: flex;
    flex-direction: column;
}

.input, .select {
    display: flex;
    flex-direction: column;
}

.input input,
.select select {
    padding: 8px 16px; 
    border-radius: 10px;
    font-size: 16px;
    border:  1px solid #999;
}

.grupo-campos button {
    padding: 14px; 
    border-radius: 10px;
    font-size: 16px;
    border: none;    
    color: #333;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.grupo-campos button:hover {
    background-color: #999;
}

